@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cedarville+Cursive&family=Fascinate&family=Raleway:wght@100&display=swap');
:root {
  --red-0: #991d42;
  font: 16px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('./images/palmtrees.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // width: 200px;
  height: 112vh;
}

h1 {
  font-family: 'Fascinate', cursive;
  font-size: 2rem;
  color: black;
}

.nav-top {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.h1-landing {
  // padding-left: 1rem;
}
header {
  // background-color: #bb89ba;
  opacity: 0.8;
  text-align: center;
}
nav {
  text-align: center;
  // margin-top: -27px;
}

h2 {
  font-size: 15px;
}
.h2-venue {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #b91515;
}
.p-venue-address {
  text-align: center;
}

.search {
  margin-bottom: 1rem;
}

.add-venue-text {
  // Can just put this in span instead since not used by anything else..
  font-family: 'Anton', sans-serif;
  font-size: 1.29rem;
  color: #b91515;
}

.p-review-count {
  text-align: center;
  border-bottom: solid 1px;
  width: 20rem;
  font-size: 14px;
}

p.landing {
  text-align: center;
  background-color: #faeddd;
  width: 25rem;
  margin: auto;
}

.welcome-back {
  width: 21rem;
  margin: auto;
  border-radius: 1rem;
  background-color: #faeddd;
  // color: blue;
  font-style: italic;
}

// a {
//   color: #b91515;
// }
.review-body {
  background-color: white;
  border-radius: 10px;
  width: 20rem;
  font-size: 14px;
  padding: 11px;
}

.single-venue {
  border-bottom: solid 1px;
  width: 16rem;
}

h2 a {
  color: #b91515;
}

time {
  font-size: 10px;
}

.fa-house {
  font-size: 2rem;
  color: #665c5c;
}
.fa-solid {
  font-size: 2rem;
}
.fa-plus {
  font-size: 1.5rem;
  color: #665c5c;
}
.fa-arrow-right-from-bracket {
  color: #b91515;
}
main.home-content {
  background-color: #c6c5c5;
  opacity: 0.9;
  width: 27rem;
  padding: 2rem;
  margin: auto;
  border-radius: 1rem;
  margin-bottom: 3rem;
  border: solid;
}

.results {
  list-style: none;
  margin-left: 1rem;
}

.form-error {
  padding: 1.25rem;
  font-size: 12px;
  background-color: var(--red-0);
  color: white;
  text-align: center;
}

div.field {
  width: 16rem;
}

.allinputs {
  background-color: #c6c5c5;
  width: 34rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.93;
  border-radius: 1rem;
  // margin-left: 12px;
  // margin-top: 3rem;
  margin: auto;
  overflow: scroll;
  height: 33rem;
  border: solid;
}

.allinputssignin {
  background-color: #c6c5c5;
  width: 22rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.93;
  border-radius: 1rem;
  margin: auto;
  border: solid;
}

.allinputssignup {
  background-color: #c6c5c5;
  width: 22rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.93;
  border-radius: 1rem;
  // margin-left: 12px;
  // margin-top: 3rem;
  margin: auto;
  border: solid;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #fdfdf1;
}

.border-venue {
  border: solid 0.5px;
  width: 20rem;
}

.fa-github {
  font-size: 44px;
  color: black;
  margin-left: 4px;
}

.button.is-primary {
  background-color: #b91515;
}

a {
  color: black;
}

// ------------------------------------------------------------------------------------------------------------
// @Media

@media all and (max-width: 494px) {
  body {
    margin: 0;
    min-height: 100%;
    background-image: url('./images/palmtrees.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // width: 200px;
    height: 104vh;
  }
  main.home-content {
    background-color: #c6c5c5;
    opacity: 0.9;
    width: 17rem;
    margin: auto;
    padding: 0rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 20rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
  }

  .allinputs {
    background-color: #c6c5c5;
    width: 22rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.93;
    border-radius: 1rem;
    // margin-left: 12px;
    // margin-top: 3rem;
    margin: auto;
    overflow: scroll;
    height: 33rem;
    border: solid;
  }

  p.landing {
    text-align: center;
    background-color: #faeddd;
    width: 20rem;
    border-radius: 1rem;
  }

  .nav-top {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
  }

  address {
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
  }

  ul.results {
    font-size: 11px;
    // padding-left: 2rem;
  }
  div.field {
    width: 16rem;
  }

  .form-error {
    padding: 1.25rem;
    font-size: 12px;
    background-color: var(--red-0);
    color: white;
  }

  .uploadpic {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
